body,
html {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(44, 44, 44);
    position: sticky;
    top: 0;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container__header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__item {
    margin-right: 63px;
    color: rgb(228, 228, 228);
    font-family: Nico Moji;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.nav_link {     
    color: rgb(228, 228, 228);
    text-decoration: none;
}

.nav_link:hover {
    color: rgb(0, 196, 240);
}

.nav__item:hover {
    color: rgb(0, 196, 240);
}

.logo__text {
    color: rgb(255, 255, 255);
    font-family: Nico Moji;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}




.projects{
    background: rgb(62, 62, 62);
    padding: 65px 0 70px;

}

.project__title{
    color: rgb(228, 228, 228);
    font-family: Nico Moji;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 60px;
}


.project__list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.project__item{
    width: 32.5%;

    margin: 5px;
}
.project__img{
    width: 100%;    
}



.footer{
    background: rgb(44, 44, 44);

}

.container__footer{
    padding: 50px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__list{
    display: flex;
    list-style: none;
}

.footer__title {
    color: rgb(228, 228, 228);
    font-family: Nico Moji;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}


.footer__text {
    color: rgb(255, 255, 255);
    font-family: Nico Moji;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.06%;
    letter-spacing: 0%;
    text-align: left;
}

.footer__item {
    margin-right: 40px;
}